<!-- ------ max width 1440 ----------- -->
<div *ngIf="isLargeScreen" class="tech-outer">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="./assets/Angular.png" alt="angular">
    <img src="./assets/java-2.png" alt="java">
    <img src="./assets/spring-boot.png" alt="spring-boot">
    <img src="./assets/bootstrap.png" alt="bootstrap">
    <img src="./assets/Rust.png" alt="rust">
    <img src="./assets/actix-web.png" alt="actix-web">
    <img src="./assets/sass.png" alt="sass">
    <img src="./assets/node-js.png" alt="node-js">
    <img src="./assets/tailwind.png" alt="tailwind">
    <img src="./assets/Docker.png" alt="docker">
    <img src="./assets/react-native.png" alt="react-native">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="./assets/Angular.png" alt="angular">
    <img src="./assets/java-2.png" alt="java">
    <img src="./assets/spring-boot.png" alt="spring-boot">
    <img src="./assets/bootstrap.png" alt="bootstrap">
    <img src="./assets/Rust.png" alt="rust">
    <img src="./assets/actix-web.png" alt="actix-web">
    <img src="./assets/sass.png" alt="sass">
    <img src="./assets/node-js.png" alt="node-js">
    <img src="./assets/tailwind.png" alt="tailwind">
    <img src="./assets/Docker.png" alt="docker">
    <img src="./assets/react-native.png" alt="react-native">
  </div>
</div>
<!-- ------ max width 1440 ----------- -->

<!-- ------ max width 1024 ----------- -->
<div *ngIf="isMediumScreen" class="tech-outer-md">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="./assets/Angular.png" alt="angular">
    <img src="./assets/java-2.png" alt="java">
    <img src="./assets/spring-boot.png" alt="spring-boot">
    <img src="./assets/bootstrap.png" alt="bootstrap">
    <img src="./assets/Rust.png" alt="rust">
    <img src="./assets/actix-web.png" alt="actix-web">
    <img src="./assets/sass.png" alt="sass">
    <img src="./assets/node-js.png" alt="node-js">
    <img src="./assets/tailwind.png" alt="tailwind">
    <img src="./assets/Docker.png" alt="docker">
    <img src="./assets/react-native.png" alt="react-native">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="./assets/Angular.png" alt="angular">
    <img src="./assets/java-2.png" alt="java">
    <img src="./assets/spring-boot.png" alt="spring-boot">
    <img src="./assets/bootstrap.png" alt="bootstrap">
    <img src="./assets/Rust.png" alt="rust">
    <img src="./assets/actix-web.png" alt="actix-web">
    <img src="./assets/sass.png" alt="sass">
    <img src="./assets/node-js.png" alt="node-js">
    <img src="./assets/tailwind.png" alt="tailwind">
    <img src="./assets/Docker.png" alt="docker">
    <img src="./assets/react-native.png" alt="react-native">
  </div>
</div>
<!-- ------ max width 1024 ----------- -->

<!-- ------ max width 1920 ----------- -->
<div *ngIf="isExtraLargeScreen" class="tech-outer-lg">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="./assets/Angular.png" alt="angular">
    <img src="./assets/java-2.png" alt="java">
    <img src="./assets/spring-boot.png" alt="spring-boot">
    <img src="./assets/bootstrap.png" alt="bootstrap">
    <img src="./assets/Rust.png" alt="rust">
    <img src="./assets/actix-web.png" alt="actix-web">
    <img src="./assets/sass.png" alt="sass">
    <img src="./assets/node-js.png" alt="node-js">
    <img src="./assets/tailwind.png" alt="tailwind">
    <img src="./assets/Docker.png" alt="docker">
    <img src="./assets/react-native.png" alt="react-native">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="./assets/Angular.png" alt="angular">
    <img src="./assets/java-2.png" alt="java">
    <img src="./assets/spring-boot.png" alt="spring-boot">
    <img src="./assets/bootstrap.png" alt="bootstrap">
    <img src="./assets/Rust.png" alt="rust">
    <img src="./assets/actix-web.png" alt="actix-web">
    <img src="./assets/sass.png" alt="sass">
    <img src="./assets/node-js.png" alt="node-js">
    <img src="./assets/tailwind.png" alt="tailwind">
    <img src="./assets/Docker.png" alt="docker">
    <img src="./assets/react-native.png" alt="react-native">
  </div>
</div>
<!-- ------ max width 1920 ----------- -->
