<!-- ------ max width 1440 ----------- -->
<div *ngIf="isLargeScreen" class="tech-outer">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/Docker.png" alt="docker">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/Docker.png" alt="docker">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
  </div>
</div>
<!-- ------ max width 1440 ----------- -->

<!-- ------ max width 1024 ----------- -->
<div *ngIf="isMediumScreen" class="tech-outer-md">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/Docker.png" alt="docker">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/Docker.png" alt="docker">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
  </div>
</div>
<!-- ------ max width 1024 ----------- -->

<!-- ------ max width 1920 ----------- -->
<div *ngIf="isExtraLargeScreen" class="tech-outer-lg">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/Docker.png" alt="docker">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/Docker.png" alt="docker">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">

  <!-- Duplicate the images for smooth seamless scrolling -->
  <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
  <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
  <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
  <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
  <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
  <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
  <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
  <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
  <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
  <img src="../../../../../../../../assets/tech/Docker.png" alt="docker">
  <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
  </div>
</div>
<!-- ------ max width 1920 ----------- -->
