.outer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .contact-side {
    width: 40%;
    height: auto;

    .profile-details {
      margin-left: 50px;
      img {
        border-radius: 50%;
      }
      .name{
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 30px;
        color: #ffffff;
      }
      .national{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.56);
        letter-spacing: 2px;
      }
    }

    .contact-details{
      margin-left: 50px;
      margin-top: 40px;

      h2{
        font-size: 28px;
        color: #ffffff;
      }

      p{
        font-size: 18px;
        color: rgba(255, 255, 255, 0.56);
        margin-bottom: 15px;

        img{
          margin-right: 10px;
        }
      }

      .social{
        margin-top: 40px;

        a{
          margin-right: 18px;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.56);
          font-size: 15px;

          img{
            margin-right: 5px;
          }

          &:hover{
            color: #3777a4;
          }
        }
      }
    }

    .button-area{
      width: 320px;
      margin-left: 50px;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      button{
        width: 150px;
      }
    }
  }
  .experience-side{
    flex: 1;
    height: auto;

    h2{
      color: #ffffff;
      font-size: 26px;
      letter-spacing: 1px;

    }

    .edu-exc{
      max-height: 700px;
      overflow-y: auto;

      .experience-details{
        .experience-item{
          h3{
            font-size: 20px;
            color: rgba(255, 255, 255, 0.56);
            margin-bottom: 0;
          }
          .company{
            font-size: 14px;
            color: rgba(197, 197, 197, 0.56);
            margin-bottom: 10px;
            letter-spacing: 1.5px;
          }
          .description{
            font-size: 14px;
            color: rgba(197, 197, 197, 0.56);
            margin-bottom: 15px;
          }
        }
      }
      .education-details{
        margin-top: 40px;

        .education-item {
          margin-bottom: 35px;
          h3{
            font-size: 20px;
            color: rgba(255, 255, 255, 0.56);
            margin-bottom: 0;
          }

          .company {
            font-size: 14px;
            color: rgba(197, 197, 197, 0.56);
            margin-bottom: 10px;
            letter-spacing: 1.5px;
          }

          .description {
            font-size: 14px;
            color: rgba(197, 197, 197, 0.56);
            margin-bottom: 15px;
          }
        }

      }

      .reference{
        margin-top: 55px;
        .reference-item{
          h3{
            font-size: 20px;
            color: rgba(255, 255, 255, 0.56);
            margin-bottom: 0;
          }

          .company {
            font-size: 14px;
            color: rgba(197, 197, 197, 0.56);
            margin-bottom: 10px;
            letter-spacing: 1.5px;
          }

          .contact{
            font-size: 14px;
            color: rgba(197, 197, 197, 0.56);
            margin-bottom: 5px;
          }

          .email{
            font-size: 14px;
            color: rgba(197, 197, 197, 0.56);
            margin-bottom: 15px;
          }
        }
      }

    }

  }
}
